@import url(./util.scss);
@font-face {
  font-family: "LibreBaskerville";
  src: url(../../font/libre-baskerville-v9-latin-700.woff2);
}
@font-face {
  font-family: "noto-sans";
  src: url(../../font/noto-sans-kr-v12-latin_korean-500.woff2);
}
body,
html {
  margin: 0;
}

body {
  background-color: #f0ede6;
  font-family: "LibreBaskerville", "noto-sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
ul li {
  margin-right: 40px;
}

.header-container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.21s linear;
  height: 7vw;
  background-color: #f0ede6;
}

::selection {
  background: #ccc7bb;
  background: rgba(160, 136, 111, 0.35);
  color: #fff;
}

.minimize {
  border-bottom: 1px solid black;
}

div.none {
  display: none;
}

#inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5vw 2.5vw;
  transition: 0.21s linear;
}

#menu {
  margin: 0;
}
#menu > li > a {
  color: black;
  font-size: 1.5vw;
}
#menu > li > a > div {
  margin: 16px 0px 16px 0px;
  height: 100%;
}

#menu > li:hover > .sub-menu {
  opacity: 1;
  display: block;
  visibility: visible;
}

.menu-container {
  display: flex;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.search-btn {
  background-color: initial;
  border: none;
  background-image: url(/frontend/img/icon/search_close.png);
  width: 2.3vw;
  height: 2.3vw;
  background-size: cover;
  margin-right: 0px 5px 0px 35px;
}

.search-btn:hover {
  background-image: url(/frontend/img/icon/search_open.png);
}

.myPage {
  background-color: initial;
  border: none;
  height: 2vw;
  transition: all 0.2s linear;
  margin-left: 25px;
}
.myPage span {
  font-family: "LibreBaskerville", "noto-sans", sans-serif;
  font-size: 1.5vw;
  position: relative;
  color: black;
}
.myPage svg {
  position: absolute;
  right: 3vw;
  top: 5vw;
  transition: 0.2s linear;
  display: none;
}
.myPage .login-btn::after {
  content: "";
  width: 9vw;
  height: 3vw;
  background-image: url(/frontend/img/layout/button-basic-fill.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -20%;
  right: -42%;
  z-index: -1;
}

#menu-ball {
  display: none;
  position: absolute;
  top: 1.5vw;
  left: -38.5vw;
  transition: all 0.2s ease-in-out;
}

.sub-menu {
  opacity: 1;
  visibility: hidden;
  position: absolute;
  background: black;
  top: 5.5vw;
  text-align: left;
  display: block;
  width: 150px;
  margin-left: -34px;
  padding: 0 0 25px 0;
}
.sub-menu li {
  margin: 25px 20px 0px 0px;
}
.sub-menu a {
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  font-family: "noto-sans", "LibreBaskerville", sans-serif;
  padding: 5px 30px;
}
.sub-menu a:hover > div {
  border-bottom: 3px solid white;
}
.sub-menu div {
  display: inline-block;
  position: relative;
}

.search-bar {
  width: 100vw;
  height: 120vw;
  background-color: rgba(44, 44, 44, 0.4705882353);
  position: fixed;
  z-index: 1001;
  top: 0;
  display: none;
}

.search-menu {
  width: 100%;
  height: 40vw;
  position: fixed;
  z-index: 2000;
  background: #f0ede6;
  top: 0;
}
.search-menu .search-menu-top {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.search-menu .search-menu-top button {
  font-size: 5vw;
  font-weight: lighter;
  border: none;
  background-color: initial;
}
.search-menu .search-input {
  margin: 25px;
  border-bottom: 5px solid black;
}
.search-menu .search-input input {
  width: 91%;
  border: none;
  background-color: initial;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
}
.search-menu .search-input input::placeholder {
  color: black;
}
.search-menu .search-input .delete-btn {
  visibility: hidden;
  border: none;
  border-radius: 20px;
  background: #ccc7bb;
  padding: 5px 7px;
  margin-right: 10px;
}
.search-menu .hashtag-link-wrapper {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.search-menu .hashtag-link-wrapper a {
  font-family: "noto-sans", "LibreBaskerville", sans-serif;
  color: black;
  margin-bottom: 5px;
  font-size: 1.5vw;
  font-weight: bold;
}

@keyframes showRight {
  0% {
    width: 0;
  }
  100% {
    width: 110px;
  }
}

/*# sourceMappingURL=header.css.map */
