body {
  margin: 0;
  width: 100vw;
  height: 100vw;
  font-family: "LibreBaskerville", "noto-sans", sans-serif;
}

#main {
  position: relative;
  margin: 13rem 0 45rem;
  padding: 0 5vw;
  min-height: calc(100vh - 45rem);
  text-align: center;
  background-color: #f0ede6;
}

#footer {
  height: 45rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}
#footer .background-img {
  height: 100%;
  background-image: url(/frontend/img/brand/pagination-maxbone.jpg);
  background-size: cover;
  filter: brightness(0.8);
}
#footer a {
  color: white;
  font-size: 7vw;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
  transform: translateY(150%);
}
#footer .big {
  font-size: 7vw;
}
#footer .small {
  font-size: 1.2vw;
  margin-top: 30px;
}
#footer .small:hover svg {
  animation: move 0.3s;
}

@keyframes move {
  0% {
    transform: translateX(0);
    width: 140px;
  }
  50% {
    transform: translateX(200%);
    width: 0px;
  }
  51% {
    transform: translateX(-100%);
    width: 0px;
  }
  100% {
    transform: translateX(1);
    width: 140px;
  }
}
.kor {
  font-family: "noto-sans", "LibreBaskerville", sans-serif;
}

.bold {
  font-weight: bold;
}

.title {
  font-size: 7vw;
}

.sub-title {
  font-size: 5vw;
}

.img-warapper {
  height: 70vw;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.img-warapper img {
  position: absolute;
}
.img-warapper .layer-tower {
  width: 19vw;
  left: 4vw;
}
.img-warapper .visual-petsoshic {
  width: 55vw;
  z-index: 1;
}
.img-warapper .layer-net {
  width: 39vw;
  right: 4vw;
  top: 57vw;
  z-index: 0;
}

.text-view {
  text-align: left;
}
.text-view b {
  font-size: 22px;
  line-height: 1.7;
}
.text-view p {
  margin-top: 25px;
  font-size: 17px;
  line-height: 1.85;
}

.intro-article,
.intro-article2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.intro-article .intro-hello {
  width: 50vw;
}

.intro-article2 .center {
  text-align: center;
}
.intro-article2 .cube {
  width: 45vw;
  height: 50vw;
}
.intro-article2 .small-cube {
  width: 40vw;
  height: 40vw;
  position: relative;
  top: -10vw;
}
.intro-article2 .gif {
  position: relative;
  top: -10vw;
}

.brand-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.brand-info > img {
  width: 45vw;
}
.brand-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand-info > div > div {
  margin: 40px 0px;
  font-size: 1.2vw;
}
.brand-info b {
  font-size: 22px;
  line-height: 1.7;
}
.brand-info p {
  font-size: 17px;
  line-height: 1.85;
}

.video1 {
  width: 100%;
  height: 54vw;
  margin-top: 20px;
}
.video1 > div > iframe {
  left: -5%;
}
.video1 .video-frame {
  width: 95vw;
  height: 54vw;
  position: relative;
  transition: 0.2s;
}
.video1 > .video-frame {
  visibility: hidden;
  opacity: 0;
  display: flex;
  top: -110%;
  background-color: initial;
  justify-content: center;
  align-items: center;
}
.video1 > .video-frame img {
  width: 150px;
}
.video1 .grass04 {
  position: relative;
  right: -43vw;
  top: -31vw;
  z-index: -1;
}

.movie-on {
  visibility: hidden;
  width: 100vw;
  height: 100vw;
  z-index: 2000;
  background-color: rgba(30, 30, 30, 0.7882352941);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.movie-on iframe {
  width: 60vw;
  height: 45vw;
}

.grass-container {
  margin: 150px 0 30px 0;
}
.grass-container .grass05 {
  position: relative;
  left: -30vw;
}
.grass-container .grass01 {
  position: relative;
  top: -6vw;
  width: 5.5vw;
  left: 16vw;
}
.grass-container .grass02 {
  position: relative;
  left: 25vw;
  width: 7vw;
  height: auto;
}

.grass04-2 {
  margin-top: 100px;
  position: relative;
  left: 10vw;
}

.note-petsoshic {
  width: 60vw;
  margin: 100px 0;
}

.brand-item {
  margin-bottom: 200px;
}

.blank {
  height: 45rem;
  width: 100%;
  background: initial;
  position: absolute;
  visibility: hidden;
}

/*# sourceMappingURL=petSoChic.css.map */
