body {
  margin: 0;
  width: 100vw;
  height: 100vw;
  font-family: "LibreBaskerville", "noto-sans", sans-serif;
}

#main {
  margin: 13rem 1vw;
  min-height: calc(100vh - 5rem);
  text-align: center;
}

#footer {
  height: 5rem;
}

.kor {
  font-family: "noto-sans", "LibreBaskerville", sans-serif;
}

.title {
  font-size: 74px;
}

.login_form {
  width: 40%;
  margin: 100px auto;

  .user_id,
  .user_pw {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: initial;
    height: 50px;
    font-size: 30px;
    margin: 10px 0;
  }

  .etc_bar {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: black;
    }

    .toggle {
      display: flex;
      align-items: center;
    }
  }

  .submit_login {
    width: 19vw;
    height: 6vw;
    background-color: initial;
    position: relative;
    border: none;
    font-size: 23px;
  }

  .submit_login::after {
    content: "";
    background-image: url(/frontend/img/layout/button-basic-fill.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 19vw;
    height: 6vw;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}

.toggle {
  label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  [type="checkbox"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
  }

  [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
  }

  [type="checkbox"]:checked::before {
    background-color: white;
    left: 1em;
  }

  [type="checkbox"]:checked {
    background-color: tomato;
    border-color: tomato;
  }

  [type="checkbox"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
  }

  [type="checkbox"]:disabled:before {
    background-color: lightgray;
  }

  [type="checkbox"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
  }
  [type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
  }
}
